.content, .content-head {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    padding-right: 20px;
}

.content-head {
    color: #615C5C;
    padding-bottom: 1%;
    margin-bottom: 3%;
    border-bottom: 2px solid #F97B00;
}

.content {
    border: 1px solid #cecaca;
    /* min-height: 560px; */
    height: auto;
    padding-bottom: 3%;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0 15px;
  padding: 0;
  width: 99%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  /* text-align: center; */
  border-right: 1px solid #ddd;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

table td:first-child, table th:first-child {
  width: 50px;
}

.table-btns {
    display: flex;
    /* flex-direction: row; */
}

.table-btns button {
    width: 70px;
    height: 25px;
    font-size: 12px;
    padding: 2px;
    margin-left: 13px;
}

@media screen and (max-width: 800px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    border-right: 0;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:first-child, table th:first-child {
    width: 100%;
  }

  /* .table-btns {
      display: flex;
      flex-direction: row;
  } */
}


.add-new {
    margin-top: 20px;
}

.add-new span {
    font-size: 15px;
    cursor: pointer;
}

.add-form {
    /* border: 1px solid #cecaca; */
    padding: 1% 5% 1% 5%;
    /* min-height: 220px; */
}
